.logo{
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
}
.logo-left{
  background-color: #ff6b6b;
  padding:3px 6px 3px 8px;
  border-radius: 4px;
  margin-left:6px ;
  margin-right:10px ;
}
.logo-right{
  padding:3px 8px 3px 3px;
  margin-left: -4px;
  border-radius: 4px;
}
